.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    padding: 20px 0ppx;
}

.endContainer {
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
}


.mainSection {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

.arrowButton {
    height: 40px;
    width: 40px;
    border: transparent;
    border-radius: 5px;
}

.bottomSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggleButton {
    width: fit-content;
    height: fit-content;
    display: block;
    margin: 5px 0px 5px 0px;
    border: transparent;
    border-radius: 5px;
    padding: 15px 10px;
}

.progressText {
    color: var(--muted);
}

.flashcard {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: var(--lesser-shadow);
    font-size: 19px;
    background-color: white;
}

.endButton {
    color: white;
    background-color: var(--muted);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px;
    display: inline;
    transition: var(--transition025);

    &:hover {
        background-color: var(--muted-hover);
    }
}
