.content_section {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.cards_grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  transition: transform 0.3s ease;
  display: flex; /* Make the card a flex container */
  flex-direction: column; /* Stack children vertically */
}

.card_title {
  font-size: 1.2rem;
  color: #0d1321;
  margin-bottom: 5px;
  flex-grow: 1;
  text-transform: capitalize;
}

.card_content {
  font-size: 1rem;
  color: #666;
  /* Align the text to the right */
  flex-basis: 50%;
  /* Adjust this percentage to control the width of the content area */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
