.whiteboards_grid_container {
  margin: 20px;
  font_family: 'Roboto Slab', serif;
}

.whiteboards_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.whiteboard_card {
  background-color: #f8f9fa; /* Light grey background to match the Flashcards */
  border: 1px solid #e0e0e0; /* Keeping the border color consistent */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slightly lighter shadow for a softer look */
  border-radius: 10px;
  padding: 16px;
  transition: box-shadow 0.3s ease-in-out;
}

.whiteboard_card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Slightly darker shadow on hover for a subtle lift effect */
}

.create_whiteboard_btn {
  background-color: #ff4e00; /* Keeping the green color for the button */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
  font-size: 0.85em;
  font-family: 'Roboto Slab', serif;
}

.create_whiteboard_btn:hover {
  background-color: #0b333d; /* A darker green on hover */
}
