
.card {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: transparent;
    border-radius: 5px;
    margin: 20px auto;
    width: auto;
    height: auto;
    box-shadow: var(--shadow);
    background-color: white;
}

.title {
    font-size: 1.25em;
    margin-bottom: 15px;
}

.timerDisplay {
    font-size: 48px; /* Large text for the timer display */
    font-weight: bold;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    border: transparent;
    border-radius: 5px;
    padding: 10px 15px;
}

