h.welcomeText {
  font-weight: 600;
  font-size: 64px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.welcomeTextSubtitle {
  font-size: 24px;
  font-weight: 400;
}

.card {
    height: 135px ;
    width: 315px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card h3 {
  font-size: 17px;
  margin: 0;
}

.card p {
  padding: 0 16px 16px;
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}

/* Hello */

.card .last-revised {
  font-size: 0.8rem;
  color: #999;
  text-align: right;
  padding: 8px 16px;
  border-top: 1px solid #f0f0f0;
}

.cardLink {
  text-decoration: none;
  color: inherit;
}
