/* Base layout styles */
.container {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  padding-right: 50px;
  background-color: #ffffff; 
  box-shadow: var(--lesser-shadow);
}

/* Typography */
.title, .description, .owner, .tag, .link {
  color: #333; /* Darker text for better readability */
}

.title {
  font-size: 2rem; /* Larger size for titles */
  font-weight: 600; /* Semi-bold */
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.ownerContainer, .tags {
  margin-bottom: 15px;
}

.owner, .tag {
  font-size: 0.85rem;
  font-style: normal; /* Regular style for owner names */
}


/* Buttons */
.interleavingButton {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: var(--flashcards-color);
  padding: 10px 15px;
  font-weight: 500;
}

.tabButton {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: var(--muted);
  padding: 10px 15px;
  font-weight: 500;
}

.editButton {
  background-color: #4CAF50; /* Different color tint for the edit button */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 1.2rem; /* Adjust size as needed */
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Layout adjustments */
.linksContainer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 10px; /* Consistent gap between elements */
  margin-bottom: 15px;
  align-items: center; /* This will vertically center the buttons */
  justify-content: space-between;
}

/* Flashcard carousel */
.flashcardCarousel {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out the navigation buttons */
  margin-bottom: 20px;
}

.flashcardCarousel button {
  border: none; /* Remove borders for a cleaner look */
  padding: 10px 15px; /* Generous padding for a larger click area */
  border-radius: 5px; /* Rounded corners for a modern look */
  font-size: 16px; /* Increase font size for better readability */
  cursor: pointer; /* Cursor indicates button is clickable */
}

.flashcard {
  box-shadow: var(--lesser-shadow);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.flashcard h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.flashcard p {
  font-size: 1rem;
  line-height: 1.5;
}


.tagSection {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.linksContainerSecondary {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}