@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

:root {
    --navbar-color: #ffffff;
    --background-color: #ffffff;
    --footer-color: #303338;
    --muted-background: #F3F3F3; 
    --dots-color: #a8abae;
    
    --text-color: black;
    --text-muted-color:#414141;

    --primary: #3A86FF;
    --secondary: #b9bbbe;
    --tertiary: #f1f1f1;
    --success: #5DC133;
    --danger: #FD2B3B;
    --primary-variant: #000080;
    --quizlet-color: #4255ff;

    --flashcards-color: #8338ec;

    --muted: #797979;
    --muted-link-color: #274c77;

    --light-button: #e9e9e9;
    --light-button-hover: #d2d2d2;
    
    --font: "Inter", sans-serif; 
    
    --shadow: 0 0px 23.6px rgba(0, 0, 0, 0.25);
    --lesser-shadow: 0 0px 10px rgba(0, 0, 0, 0.17);

}

.mainContainer {
    background-color: var(--background-color);
    background-image: radial-gradient(var(--dots-color) 1px, transparent 0);
    background-size: 40px 40px;
    color: var(--text-color);
    height: 100vh;
    width: 100vw;
    font-family: var(--font);
}
