.dashboardContainer {
    font-family: 'Roboto Slab', serif;
    color: #333;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title, .subtitle {
    color: #444;
    margin-bottom: 20px;
}
.title {
    font-weight: bolder;
    font-size: xx-large;
}

.flexRow {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.flexItem {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
}

.card {
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-2px);
}

.cardLink {
    color: #403d39;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.cardDescription, .cardContent {
    color: #555;
    margin-top: 10px;
}

.button {
    background-color: #eb5e28;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    font-family: "Roboto Slab", serif;
}

.button:hover {
    background-color: #dc2f02;
}

.streakDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.streakDisplay {
    color: #f50;
    font-size: 24px; /* Adjust the size as needed */
    margin-right: 10px;
    animation: pulse 1s infinite alternate;
}

.streakCount {
    font-weight: bold;
    font-size: 20px; 
}
.welcomeSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.title { grid-area: 1 / 1 / 2 / 2; }
.subtitle { grid-area: 2 / 1 / 3 / 2; }
.streakDisplay { grid-area: 1 / 2 / 3 / 3; }

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@media (max-width: 768px) {
    .flexRow {
        flex-direction: column;
    }
    .flexItem {
        flex-basis: 100%;
        max-width: 100%;
    }
}
