.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
}

.pageTitle {
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bolder;
}

.tabs {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.tab {
    background: var(--secondary);
    border: none;
    border-radius: 5px;
    font-family: "Roboto Slab", serif;
    margin-top: 1em;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tab:not(:last-child) {
    margin-right: 10px;
}

.tab:hover {
    background-color: var(--secondary-hover);
}

.active {
    background-color: var(--accent);
}

.active:hover {
    background-color: var(--accent-hover);
}


.content-section {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.cards-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  

  .card {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s ease;
    display: flex; /* Make the card a flex container */
    flex-direction: column; /* Stack children vertically */
  }

.card-title {
    font-size: 1.2rem;
    color: #0d1321;
    margin-bottom: 5px;
    flex-grow: 1;
    text-transform:capitalize;
}

.card-content {
    font-size: 1rem;
    color: #666;
    /* Align the text to the right */
    flex-basis: 50%;
    /* Adjust this percentage to control the width of the content area */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .searchWrapper {
    min-width: 200px; /* or any other fixed width */
  }
  
  .searchInput {
    height: 35px; /* Adjust the height to match your tabs */
    /* border: 1px solid #ccc;  */
    border: 1px solid #f77f00;
    border-radius: 4px; /* To match the rounded corners of your tabs */
    padding: 0 10px; /* Text padding inside search input */
  }

.section-title {
    color: #004643;
    margin-bottom: 10px;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .cards-grid {
        grid-template-columns: 1fr;
        /* Stack cards on smaller screens */
    }
}