
.navbar {
    background-color: var(--navbar-color);
    /* Adjusted to a darker teal color for contrast */
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;

}

body {
    background-color: #fefefe;
}

/* Logo styles */
.navbar_logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Align logo and text to the left */
}

/* Ensure the logo and text are aligned in a row */
.navbar_logo a {
    display: flex;
    align-items: center;
    color: white;
    /* Set the color for the Synapse text */
}

.navbar_logo img {
    height: 40px;
    /* Adjust as necessary */
}

/* Navigation links */
.navbar_links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-grow: 1;
    /* Allow the navbar links to grow to use available space */
    justify-content: flex-end;
    /* Align the links to the end of the navbar */
}

.navbar_links li {
    margin-right: 1rem;
    /* Adjust this value as needed */
    flex: 0 1 auto;
    /* Don't grow, allow shrink, base size on content */
}

.navbar_links li a {
    color: white;
    transition: color 0.3s ease;
    padding: 0.5rem;
    /* Add padding for clickable area, adjust as needed */
    white-space: nowrap;
    /* Prevents the text from wrapping */
}

/* Use a media query for responsive adjustment */
@media (max-width: 768px) {
    .navbar-links li {
        margin-right: 0.5rem;
        /* Less margin for smaller screens */
    }

    .navbar_logo img {
        height: 30px;
        /* Smaller logo for smaller screens */
    }
}

/* Adjust the space between the logo image and the "Synapse" text */
.navbar_logo img {
    margin-right: 0.5rem;
    /* Adjust this to increase space between logo and text */
}

/* Additional styles if needed for the text next to the logo */
.navbar_logo span {
  margin-left: 0.5rem; /* Space between logo image and text */
  font-weight: bold; /* Make the text bold */
  font-size: 1.3rem; /* Make the text larger; adjust size as desired */
  color: white; /* Keep the text color consistent with the logo color */
  text-shadow: #fefefe48 0px 0px  5px; /* Give it some depth */
  letter-spacing: 2px;
}