.container {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.todoItem {
  background-color: blue;
  border: 1px solid #ddd;
  height: 56px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoItem:not(:last-child) {
  margin-bottom: 15px;
}

.todoText {
  margin: 0;
  flex-grow: 1;
}

.button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}
.addTodo {
  background-color: var(--muted);
  width: 95px;
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.button:hover {
  background-color: var(--color-primary-dark);
}


.todoInput {
  border-radius: 5px;
  border: none;
  background-color: var(--muted-background);
  margin-bottom: 10px;
  padding: 15px 20px;
  width: 70%;
}

.addTodoSection {
  width: 100%;
  display: flex;
  gap: 10px;
}

.todoListTitle {
  font-size: large;
  margin-bottom: 5px;
  text-align: left;
}

.todoNameBold {
  font-weight: 600;
}